.container{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    
    .logo{
        width: 30%;
        margin-left: auto;
        margin-right: auto;

        img{
            width: 100%;
        }
    }

    .title{
        text-align: center;
        font-size: 2rem;
        font-weight: bolder;
        margin-bottom: 15%;
    }

    .products{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 15%;
        width: 75%;
        margin-left: auto;
        margin-right: auto;
        gap: 10%;

        p{
            text-align: left;
            font-size: 1.3rem;
            margin-left: auto;
            margin-right: auto;
            width: 100%;
        }

        img{
            width: 35%;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .panier{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 15%;
        width: 75%;
        margin-left: auto;
        margin-right: auto;
        gap: 10%;

        p{
            text-align: left;
            font-size: 1.3rem;
            margin-left: auto;
            margin-right: auto;
            width: 100%;
        }

        img{
            width: 35%;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .explication{

        h2{
            text-align: center;
            font-size: 2rem;
            font-weight: bolder;
        }

        img{
            width: 100%;
        }
    }
}