.container{
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    margin-top: auto;
    height: calc(100vh - 10rem);
    text-align: center;
    background-color: grey;

    .panier{
        display: flex;
        flex-direction: column;

        h1{
            text-align: center;
            font-size: 2rem;
            font-weight: bolder;
        }

        .panier_items{
            display: flex;
            flex-direction: column;
            gap: 5%;
            margin-top: 5%;
            height: 100%;
            overflow-y: scroll;
        }
    }

    .paying{
        display: flex;
        flex-direction: column;

        .top_pay{
            display: flex;
            flex-direction: column;

            .shopping_list{
                display: flex;
                flex-direction: column;
                gap: 5%;
                margin-top: 5%;
                height: 100%;
                overflow-y: scroll;
            }

            button{
                font-size: 2rem;
            }
        }
    }
}