.container{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 5%;
    justify-content: space-between;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    margin-top: auto;
    height: calc(100vh - 10rem);
    text-align: center;

    .panier{
        display: flex;
        flex-direction: column;
        height: 80%;

        h1{
            text-align: center;
            font-size: 3rem;
            font-weight: bolder;
            background-color: rgb(228, 251, 255);
            border: 5px solid black;
            padding: 2%;
            width: 75%;
            margin-left: auto;
            margin-right: auto;
        }

        .panier_items{
            display: flex;
            flex-direction: column;
            gap: 5%;
            margin-top: 5%;
            margin-bottom: 5%;
            height: 100%;
            overflow-y: scroll;

            .pokemon_info{
                display: grid;
                grid-template-columns: 1fr 1fr 2fr;
                background-color: rgb(228, 251, 255);

                img{
                    width: 75%;
                    margin-left: auto;
                    margin-right: auto;
                }

                h1{
                    font-size: 1.2rem;
                    background-color: rgba($color: #000000, $alpha: 0.0);
                    border: none;
                    text-align: start;
                    display: flex;
                    align-items: center;
                    width: 100%;
                }

                .pokemon_decision{
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;

                    input{
                        height: 25%;
                    }
                }
            }
        }

        div{

            .panier_button{
                font-size: 2rem;
                padding: 1%;
                background-color: rgb(146, 191, 216);
                transition: all 0.1s linear;
            }

            .panier_button:hover{
                cursor: pointer;
                background-color: rgb(221, 11, 11);
                color: rgb(203, 240, 240);
                transition: all 0.1s linear;
                transform: scale(1.1);
            }
        }
    }

    .paying{
        display: flex;
        flex-direction: column;
        height: 70%;
        width: 60%;
        margin-left: auto;
        margin-right: auto;

        .solde{
            font-size: 2rem;
            background-color: rgb(228, 251, 255);
            border: 3px solid black;
        }

        .to_pay{
            display: flex;
            flex-direction: column;

            .shopping_list{

                .list{
                    display: flex;
                    flex-direction: column;
                    gap: 5%;
                    height: 30vh;
                    margin-top: 10%;
                    margin-bottom: 10%;
                    border: 3px solid black;
                    overflow-y: scroll;
                    align-items: start;
                    justify-content: center;

                    .pokemon_shopping{
                        margin: 3%;
                    }
                }

                .total{
                    font-size: 2rem;
                    font-weight: bolder;
                    margin-bottom: 5%;
                    text-align: center;
                }

            }

            .to_pay_button{
                font-size: 2rem;
                padding: 1%;
                cursor: pointer;
            }

            .to_pay_button:hover{
                background-color: rgb(203, 240, 240);
                transition: all 0.1s linear;
                transform: scale(1.1);
            }
        }
    }
}