.pokemons{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    margin: 5%;

    @media screen and (max-width: 900px){
        grid-template-columns: 1fr 1fr;
    }

    @media screen and (max-width: 600px){
        grid-template-columns: 1fr;
    }

    div{

        .pokemon{
            margin: 5%;
            padding: 5%;
            background-color: rgb(228, 251, 255);
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            border: 2px solid black;
            box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);

            h1{
                text-align: center;
                font-size: 2rem;
                margin-bottom: 5%;
            }

            ul{
                display: flex;
                gap: 10px;
                list-style: none;
                margin-top: 3%;

                li{
                    background-color: grey;
                    padding: 3%;
                    border-radius: 100px;
                }
            }

            img{
                width: 50%;
                margin-left: auto;
                margin-right: auto;
            }

            h2{
                text-align: right;
            }

            button{
                width: max-content;
                margin-left: auto;
                margin-right: auto;
                margin-top: 5%;
                padding: 2%;
                border-radius: 10px;
                background-color: rgb(221, 11, 11);
                color: rgb(203, 240, 240);
                font-size: 1.5rem;
                font-weight: bolder;
                transition: all 0.1s linear;
            }
        
            button:hover{
                cursor: pointer;
                background-color: rgb(146, 191, 216);
                color: black;
                transform: scale(1.1);
                rotate: 3deg;
                transition: all 0.1s linear;
            }

        }


    }
}